/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  color: #AAA;
  background: rgb(37, 42, 58);
}

a {
  text-decoration: none;
  color: #1b98f8;
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}

#layout, #nav, #main {
  margin: 0;
  padding: 0;
  position: static;
}

#layout {
    padding-left:260px;
    position: relative;
}

/* Make the navigation 100% width on phones */
#nav {
  position: fixed;
  text-align: center;
  overflow: auto;
  margin-left:-260px;
  width:260px;
  height: 100%;
}

/* Show the "Menu" button on phones */
#nav .nav-menu-button {
  color: rgb(230, 230, 230);
  display: block;
  padding: 1em;
  padding-bottom: 0;
  position: relative;
}

.me {
  background: rgb(55, 60, 90);
}

#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}

#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
  background: rgb(55, 60, 90);
}

.direction{
  color: rgb(150, 150, 150);
}
.init{
  color: rgb(192, 192, 192);
}
.ready{
  color: rgb(0, 153, 0);
}
.dead{
  color: rgb(255, 51, 51);
}
.won{
  color: rgb(0, 128, 255);
}
.disconnected{
  color: rgb(153, 0, 153);
}
