body {
  color: #AAA;
  background: rgb(37, 42, 58);
}

a {
  text-decoration: none;
  color: #1b98f8;
}

#layout, #nav, #main {
  margin: 0;
  padding: 2px;
  position: static;
}

#layout {
    padding-left:150px;
    position: relative;
}

#nav {
  position: fixed;
  text-align: center;
  overflow: auto;
  margin-left:-150px;
  width:150px;
  height: 100%;
}

#nav .nav-menu-button {
  color: rgb(230, 230, 230);
  display: block;
  padding: 1em;
  padding-bottom: 0;
  position: relative;
}

#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}

#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
  background: rgb(55, 60, 90);
}

.primary-button,
.pure-button-primary {
    color: #fff;
    background: rgb(55, 60, 90);
    margin: 1em 0;
}

.me {
  background: rgb(55, 60, 90); /* #333366 - dark (grey) blue*/
}

.init{
  color: rgb(192, 192, 192); /* #cccccc - white grey*/
}

.ready{
  color: rgb(0, 153, 0); /* #009900 - green */
}

.dead{
  color: rgb(255, 51, 51); /* #ff3333 - red (orange) */
}

.won{
  color: rgb(0, 128, 255); /* #0099ff - blue*/
}

.disconnected{
  color: rgb(153, 0, 153); /* #990099 - lilla */
}


.succses,
.error,
.warning {
  color: #fff;
  margin: 1em;
  padding: 1em;
}

.success {
  background: rgb(28, 184, 65); /* this is a green */
}
.error {
  background: rgb(202, 60, 60); /* this is a maroon */
}
.warning {
  background: rgb(223, 117, 20); /* this is an orange */
}
